<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.first.in.collegeprofiles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TeamUp"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupScreen"
            android:label="Details"
            />
        <activity android:name=".Logged"
            />
        <activity android:name=".Field_Profile"
            android:label="Profile" />

        <activity android:name=".SignupScreen22"
            android:label="Interests"
            />
        <activity android:name=".Tennis_People" />
        <activity
            android:name=".MainActivity2"
            android:label="Teamup"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity android:name=".Settings"
            android:label="Settings"/>

        <activity android:name=".Dance_Interest"
            android:label="Dance"/>

        <activity android:name=".Literary_Interest"
            android:label="Literary"/>

        <activity android:name=".Music_Interest"
            android:label="Music"/>

        <activity android:name=".Tennis"
            android:label="Sports"/>

        <activity android:name=".Coding_Interest"
            android:label="Coding"/>

        <activity android:name=".Miscell_Interest"
            android:label="Miscellaneous"/>
        <activity android:name=".Theatrics_Interest"
        android:label="Theatrics"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="MainActivity2" />

    </application>

</manifest>